/* Start Variables */
:root {
	--main-color:#cd5229;
	--secondary-color: #c96645;
	--darkbg-color: #1f2021;
	--white-color: #ffffff;
	--lightgray-color: #eee;
	--darkgray-color: #333;
	--transparent-color: rgb(15 116 143 / 70%);
	--section-padding: 100px;
}
/* End Variables */

/* Start Global Rules */
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	margin:0;

}
html {
  scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
}
ul {
	list-style:none;
}
.container {
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;	
}
h2 {
	font-weight: bold;
    letter-spacing: 4px;
    font-size: 32px;
    color: var(--main-color);
	margin-bottom:40px;
}
h2:before{
	position: absolute;
    top: 95px;
    left: 40px;
    content: '';
    width: 100px;
    height: 2px;
    background-color: #9e9696;
}
h2:after {
	position: absolute;
    top: 95px;
    left: 60px;
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
}
p{
	line-height: 1.8;
    font-size: 18px;
    color: #767676;
}
/* Media Query */
/* Small Screen */
@media (min-width:768px) {
	.container{
		width:750px;
	}
}

/* Medium Screen */
@media (min-width:992px) {
	.container{
		width:970px;
	}
}

/* Large Screen */
@media (min-width:1200px) {
	.container{
		width:1170px;
	}
}
/* End Global Rules */

/* Start HomePage */

/* Start Header */
.header {
  background-color:var(--main-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 75px;
}

.header .logo img {
	height: 60px;
    max-width: 100%;
    margin-bottom: 8px;
}
.header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .nav .toggle-menu {
  color: var(--white-color);
  font-size: 22px;
}
@media (min-width: 768px) {
  .header .nav .toggle-menu {
    display: none;
  }
}
.header .nav ul {
	display: flex;
	margin-right: 26px;

}
@media (max-width: 767px) {
  .header .nav ul {
    display: none;
  }
  .header .nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
.header .nav ul li a {
    padding: 15px !important;
  }
}
.header .nav ul li a {
	padding: 16px 10px;
	display: block;
	color: var(--white-color);
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
	position: relative;
	z-index: 2;
}
.header .nav ul li a.active,
.header .nav ul li a:hover {
	color: var(--darkbg-color);
	border-bottom: 1px solid var(--darkbg-color);
    background-color:var(--white-color);
	border-radius: 10px;
}
.header .nav .form {
  	color: var(--white-color);
	position: absolute;
	font-size: 16px;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	cursor: pointer;
}
.header .nav .form #cart {
  	color: var(--white-color);

}
/* End Header */

/* End HomePage */
.home .welcome{
	height:600px;
	background-color:#1f2021; 
	background-image:url('../images/home/home.jpg'); 	
	background-size:cover;	
}

/* Start About Us*/
.home #about .container{
	padding: 50px 0;
    display: flex;
	position:relative;
}
.home #about .container .info-box{
	flex: 1;	
}
.home #about .container .info-box p{
    width: 95%;
}

.home #about .container .image-box {
	flex:1;
}
/* End About Us*/

/* Start History Section*/
 #history {
	height:300px;
	text-align:center;
	position:relative;
	background:url("../images/home/history.jfif") no-repeat center center fixed;
}

 #history .overlay {
	background-color: rgba(250,250,250,.9); 
	position :absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	padding:30px 0;
}
#history .overlay h2:before{
	top:72px;
    left:calc(50% - 50px);
}
#history .overlay h2:after{
	top:73px;
    left:calc(50% - 25px);
}
#history .overlay  p{
	margin-bottom:30px;
}
#history .overlay a {
	padding: 6px 25px;
    border-radius: 40px;
    text-decoration: none;
    color: var(--main-color);
	border:2px solid var(--main-color);
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
#history .overlay a:hover {
    background: var(--main-color);
    color: var(--white-color);
}
/* End History Section*/


/* End HomePage */

/* Start History Page*/
.history .container{
	padding: 50px 0;
    display: flex;
	position:relative;
}

.history .container .history-info{
	flex: 1;	
}
.history .container .history-info h2:before{
    width: 170px;
}
.history .container .history-info h2:after{
    width: 75px;
	top:95px;
	left:85px;
}
.history .container .history-info p{
    width: 95%;
}

.history .container .history-image {
	flex:1;
}
.history .container .history-image img{
	max-width:100%;
}
/* End History Page*/

/* Start Types Section*/
#types{
	padding:50px 0;
	position:relative;
}
#types .overlay h2:before{
	left:130px;
}
#types .overlay h2:after{
	left:155px;
}

#types table{
	border-spacing: 8px;
	display: flex;
    justify-content: center;
}

#types table tr td {
	width:350px;
	height:250px;
	overflow:hidden;
}
#types table tr td:hover img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#types table tr td img {
	max-width:100%;
	height:100%;
	transition: 0.3s ease-in-out;
}

/* End Types Section*/
/* Start Products Page*/
.products_header{
	height:600px;
	position:relative;
	background:url("../images/products/products.jpg");
	background-repeat: round;
}

.product_introduction {
	padding:50px 0;
	position:relative;
}
.product_introduction h2:before{
	left:130px;
}
.product_introduction h2:after{
	left:150px;
}

.products{
	padding:20px;
}
.products .container{
	display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.products .product-item{
	background:var(--lightgray-color);
	width:330px;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	margin-bottom:26px;
}
.products .product-item:hover{
	box-shadow: 0 0 6px 3px #888888;
}
.products .product-item .product_image{
	text-align:center;
	padding:20px 0;
}
.products .product-item .product_image img{
	width:160px;
	height:160px;
	border-radius:50%;
}

.products .product-item .product_details{
	padding: 10px;
}
.products .product-item .product_details .product_name{
	color: var(--main-color);
}

.products .product-item .product_details .product_button{
	padding: 6px 25px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
	margin: 10px 80px;
    color: var(--white-color);
	background:var(--main-color);
    border: 2px solid var(--main-color);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	cursor:pointer;
}
.products .product-item .product_details .product_button:hover{
    color: var(--main-color);
	background:var(--white-color);
}
/* Start Pagination links */
.product_pagination {
	padding:50px 0;
	position:relative;

}
.product_pagination .container .pagination {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    left: 50%;
}
.product_pagination .container .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
}

/* Style the active/current link */
.product_pagination .container .pagination a.active {
  background-color: dodgerblue;
  color:var(--white-color);
}

.product_pagination .container .pagination a:hover:not(.active) 
{background-color: #ddd;}
/* End Pagination */


/* End Products Page*/

/* Start Footer */
 .footer{
	background-color:var(--darkbg-color);
	text-align:center;
	padding:20px;
	color:var(--white-color);
}
/* End Footer */


/* Start Card Page*/
.card_header{
	height:600px;
	position:relative;
	background:url("../images/card/card.jpg");
	background-repeat: round;
}
.card_introduction {
	padding:50px 0;
	position:relative;
}
.card_introduction h2:before{
	left:130px;
}
.card_introduction h2:after{
	left:150px;
}
.card_table .container table{
    border: 1px solid #888;
    width: 100%;
	margin:50px 0;
	text-align:center;
}
.card_table .container table tr td{
    border: 1px solid #888;

}
.card_table .container table tr {
	height:100px;
}
.card_table .container table tr td img {
	width:100px;
	height:100px;
	border-radius:50%;
}
.card_table .container table .table_header{
	background:var(--main-color);
	padding:10px;
	font-weight:bold;
	height:40px;
}
.card_table .container table tr td i{
	color:red;	padding:10px;
	font-weight:bold;
	font-size:16px;
	cursor:pointer;
}
.checkout .container {
	position:relative;
	padding:100px 0;
}
.checkout .container  .checkout_details{
	background:var(--lightgray-color);
	position:absolute;
	right:0;
	top:0;
	padding:20px;
}
.checkout .container  .checkout_details .btn_checkout{
	padding: 6px 25px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
	margin: 10px 60px;
    color: var(--white-color);
	background:var(--main-color);
    border: 2px solid var(--main-color);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	cursor:pointer;
}
.checkout .container  .checkout_details .btn_checkout:hover{
	color: var(--main-color);
	background:var(--white-color);
}
/* End Card Page*/

/* Start menList Page */
.category_box {
	text-align:center;
	border:1px solid var(--darkgray-color);
	padding:20px 0;
}
.category_box a {
	text-decoration:none;
	color:var(--main-color);
}
.category_box a .category_img {
    width: 150px;
    height: 150px;
    margin: auto;
}
.category_box a .category_img img{
	max-width:100%;
	max-height:100%;
}
.category_box a .category_description{
	padding:20px;
}

/* End menList Page */

/* Start Category Page */
.category_page .container h2:before{
	top: 50px;
    left: 85px;
}
.category_page .container h2:after{
	top: 52px;
    left: 108px;
}
.category_page .category_items{
	display: flex;
    flex-wrap: wrap;
	justify-content: space-around;

}
.category_page .category_items .category_item {
	margin-bottom:26px;
	border : 1px solid var(--darkgray-color);
}
.category_page .category_items .category_item .category_img{
	width:250px;
	height:250px;
	padding:5px 0;
	overflow:hidden;
}
.category_page .category_items .category_item .category_img img{
	max-width:100%;
	max-height:100%;
}
.category_page .category_items .category_item .category_img img:hover{
	transition: 0.3s ease-in-out;
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
.category_page .category_items .category_item  h4 {
	padding:20px;
}
/* End Category Page */


/* start registration page */
.regform,.loginform,.contactform{
	background-image: url('../images/formbg.jpg');
	background-size:cover;
	height:100vh;
	color:var(--white-color);
	text-align:center;
	padding:50px 0;
}
.regform .main ,
.loginform .main,
.contactform .main {
   background-color:rgb(0,0,0,0.5);
   width:600px;
   margin:auto;
   padding:10px 0;
}
.regform .main #reg_form,
.loginform .main . #login_form,
.contactform .main . #contact_form{
	height:60vh;
}
.regform .main	#name,#pass{
	display: block;
	margin-bottom: 20px;
 }
.regform .main 	#reg_form .firstname,.lastname,.password,.confirmpassword,
.regform .main  #reg_form .email_input,.phone_input ,.login-email, .login-password,
.loginform .main #login_form .login-email , .login-password {
    padding: 10px;
}
 .regform .main 	#reg_form   .email,.phone,
 .loginform .main 	#login_form   .login-email,.login-password{
    display: grid;
    width: 76%;
    margin: auto;
	margin-bottom: 20px;
}
  
.regform .main 	#reg_form .gender  {
	text-align: left;
    margin-left: 72px
}
.regform .main 	#reg_form .gender label {
	font-size:18px;
	margin-right: 34px;

}
.regform .main 	#reg_form .reg_submit,
.loginform .main #login_form .login_submit,
.contactform .main #contact_form .contact_submit
{
	padding: 6px 25px;
    border-radius: 2px;
    font-weight: bold;
    text-decoration: none;
	margin: 10px 60px;
    color: var(--white-color);
	background:var(--main-color);
    border: 2px solid var(--main-color);
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	cursor:pointer;
	
}
.regform .main 	#reg_form .reg_submit:hover,
.loginform .main #login_form .login_submit:hover,
.contactform .main #contact_form .contact_submit:hover{
	color: var(--main-color);
	background:var(--white-color);
}
/* end reg page */

/* start login page */

 .loginform .main 	#login_form .createaccount {
    padding: 10px 30px;
	color : blue ;
}

/* end login page*/

/* Start Contact Page */

/* End Contact Page */
.contactform {
	text-align:left;
}
.contactform .main{
	padding: 20px 40px;
}
.contactform .main p{
	color:var(--white-color);
}
.contactform .main ul{
	display: flex;
    justify-content: start;
	margin:20px 0;
}
.contactform .main ul li {
	margin-right:10px;
}
.contactform .main ul li a img{
	width:32px;
}
.contactform .main #contact_form .contact_name,.contact_email,.contact_message{
	padding:10px;
	width:80%;
	margin-bottom:4px;
}
.contactform .main #contact_form .contact_message{
	height:20%;
}
.contactform .main #contact_form .contact_submit{
	margin:10px 150px;
}
/* Start Thanks Page */
.thanks{
	background-image: url('../images/thankyou.jpg');
	background-size:cover;
	height:100vh;
}
/* End Thanks Page */