/* Start Variables */
:root {
	/*	--main-color: #a5492a; */
	--main-color:#cd5229;
	--secondary-color: #c96645;
	--darkbg-color: #1f2021;
	--white-color: #ffffff;
	--transparent-color: rgb(15 116 143 / 70%);
	--section-padding: 100px;
}
/* End Variables */

/* Start Global Rules */
*{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0;
	margin:0;

}
html {
  scroll-behavior: smooth;
}
body {
	font-family: 'Open Sans', sans-serif;
}
ul {
	list-style:none;
}
.container {
	margin-right:auto;
	margin-left:auto;
	padding-left:15px;
	padding-right:15px;	
}
h2 {
	font-weight: bold;
    letter-spacing: 4px;
    font-size: 32px;
    color: var(--main-color);
	margin-bottom:40px;
}
h2:before{
		position: absolute;
    top: 95px;
    left: 40px;
    content: '';
    width: 100px;
    height: 2px;
    background-color: #9e9696;
}
h2:after {
	position: absolute;
    top: 95px;
    left: 60px;
    content: '';
    width: 50px;
    height: 4px;
    background-color: var(--main-color);
}
p{
	line-height: 1.8;
    font-size: 18px;
    color: #767676;
}
/* Media Query */
/* Small Screen */
@media (min-width:768px) {
	.container{
		width:750px;
	}
}

/* Medium Screen */
@media (min-width:992px) {
	.container{
		width:970px;
	}
}

/* Large Screen */
@media (min-width:1200px) {
	.container{
		width:1170px;
	}
}
/* End Global Rules */

/* Start HomePage */

/* Start Header */
.header {
  background-color:var(--darkbg-color);
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 75px;
}

.header .logo img {
  height: 40px;
}
.header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .nav .toggle-menu {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px) {
  .header .nav .toggle-menu {
    display: none;
  }
}
.header .nav ul {
	display: flex;
	margin-right: 10px;

}
@media (max-width: 767px) {
  .header .nav ul {
    display: none;
  }
  .header .nav .toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(0 0 0 / 50%);
  }
  .header .nav ul li a {
    padding: 15px !important;
  }
}
.header .nav ul li a {
	padding: 16px 10px;
	display: block;
	color: var(--white-color);
	text-decoration: none;
	font-size: 14px;
	transition: 0.3s;
	position: relative;
	z-index: 2;
}
.header .nav ul li a.active,
.header .nav ul li a:hover {
	color: var(--darkbg-color);
	border-bottom: 1px solid var(--darkbg-color);
    background-color:white;
	border-radius: 10px;
}
.header.nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
.header .nav .form i {
	color: var(--white-color);
	position: absolute;
	font-size: 18px;
	top: 50%;
	transform: translateY(-50%);
	right: 0;
	cursor: pointer;
}
/* End Header */

/* End HomePage */
.home .welcome{
	height:700px;
	background-color:#1f2021; 
	position:relative;
	/*	background-image:url('../images/home/home-img.jpeg'); */
	background-image:url('../images/home/home1.jpg'); 
	background-size:cover;	
}

.home .welcome .overlay p {
	color:var(--white-color);
	padding:20px;
}

/* Start About Us*/
.home #about .container{
	padding: 50px 0;
    display: flex;
	position:relative;
}
.home #about .container .info-box{
	flex: 1;	
}
.home #about .container .info-box p{
    width: 95%;
}

.home #about .container .image-box {
	flex:1;
}
/* End About Us*/

/* Start History Section*/
 #history {
	height:300px;
	text-align:center;
	position:relative;
	background:url("../images/home/history.jfif") no-repeat center center fixed;
}

 #history .overlay {
	/*background-color: rgba(0,0,0,1); */
	background-color: rgba(250,250,250,.9); 
	position :absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	padding:30px 0;
}
#history .overlay h2:before{
	top:72px;
    left:calc(50% - 50px);
}
#history .overlay h2:after{
	top:73px;
    left:calc(50% - 25px);
}
#history .overlay  p{
	margin-bottom:30px;
}
#history .overlay a {
	padding: 6px 25px;
    border-radius: 40px;
    text-decoration: none;
    color: var(--main-color);
	border:2px solid var(--main-color);
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
#history .overlay a:hover {
    background: var(--main-color);
    color: white;
}
/* End History Section*/


/* End HomePage */

/* Start History Page*/
.history .container{
	padding: 50px 0;
    display: flex;
	position:relative;
}

.history .container .history-info{
	flex: 1;	
}
.history .container .history-info h2:before{
    width: 170px;
}
.history .container .history-info h2:after{
    width: 75px;
	top:95px;
	left:85px;
}
.history .container .history-info p{
    width: 95%;
}

.history .container .history-image {
	flex:1;
}
.history .container .history-image img{
	max-width:100%;
}
/* End History Page*/

/* Start Types Section*/
#types{
	padding:50px 0;
	position:relative;
}
#types .overlay h2:before{
	left:106px;
}
#types .overlay h2:after{
	left:130px;
}

#types table{
	border-spacing: 8px;
	display: flex;
    justify-content: center;
}

#types table tr td {
	width:350px;
	height:250px;
	overflow:hidden;
}
#types table tr td:hover img{
	-webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}
#types table tr td img {
	max-width:100%;
	height:100%;
	transition: 0.3s ease-in-out;
}

/* End Types Section*/

/* Start Footer */
 .footer{
	background-color:var(--darkbg-color);
	text-align:center;
	padding:20px;
	color:var(--white-color);
}
/* End Footer */